<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <title>HyraPokedex</title>

    <link href="~/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/mdb/css/mdb-free.min.css" rel="stylesheet">
    <link href="~/mdb/css/style.min.css" rel="stylesheet">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/mdb/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/mdb.min.js"></script>
</body>
</html>
