@model IEnumerable<HyraPokedex.Models.PokeApi.Pokemon>

@foreach (HyraPokedex.Models.PokeApi.Pokemon currPokemon in Model)
{
    <a class="white-text" href=@Url.Action("Details", "HyraPokedex", new {pokeId = currPokemon.ID})>
        <div class="row">
            <div class="d-none d-md-block col-1">@currPokemon.ID</div>
            <div class="col col-sm-2 uppercase">@currPokemon.Name</div>
        </div>
    </a>
}