
@{ Layout = "_Layout"; ViewBag.Title = "HyraPokedex - Home";}

<div class="jumbotron card card-image stylish-color-dark" style="margin:20px;">
    <div class="text-white text-center py-5 px-4">
        <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Welcome to Hyra Pokedex</strong></h2>
            <p class="mx-5 mb-5">
                This is a small project for learning.
            </p>
            <a href="/HyraPokedex/Index" class="btn btn-outline-white btn-md">Go to Pokedex</a>
        </div>
    </div>
</div>